<!DOCTYPE html>
<html>
<head>
    <title>HAHA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<script>
    document.addEventListener('DOMContentLoaded',function() {

       document.querySelector('button').addEventListener('click',function(){
           var username = document.querySelector('.username').value;
           var password = document.querySelector('.password').value;
           var jsonObj = {
               username: username,
               password: password
           }

           var xhr = new XMLHttpRequest();
           xhr.open('POST', '/register');
           xhr.setRequestHeader('accept', 'application/json');
           xhr.setRequestHeader('content-type', 'application/json');
           xhr.addEventListener('readystatechange', function() {
               if(xhr.readyState === 4 && xhr.status === 201) {
                   var obj = JSON.parse(xhr.responseText);
                   console.log(obj);

                   document.querySelector('.content').innerHTML = 'username is ' + obj.user.username;
               }
           });

           xhr.send(JSON.stringify(jsonObj));
       })

    })




</script>

    <div>
        <label>Username:</label>
        <input  class="username" type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input  class="password" type="password" name="password"/>
    </div>
    <button>submit</button>

<div class="content"></div>

</body>
</html>